body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
}

.conteiner {
    width: 1140;
    margin: 0 auto;
}

.header {
    background-color: #222222;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 75px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 230px;
    padding-left: 230px;
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__link {
    margin: 0 0 0 34px;
}

.header__nav {
    position: absolute;
    Width: 232px;
    top: 90px;
    text-align: left;
    right: 0;
    background-color: white;
    display: none;
}

.header__button:hover .header__nav {
    display: block;
}

.header__nav:hover {
    display: block;
}

.brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 65px 0;
}

.brand__title-wrp {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #F1E4E6;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #222222;
}

.brand__subtitle {
    display: block;
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: #F16D7F;
}

.subscription-block-button {
    align-items: center;
}

.information-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(./img/fon.jpg);
    background-size: cover;
}

.information-block-img {
    margin: 87px 0 0 327px;
    margin-top: 87px;
    margin-left: 327px;
}

.footer-block {
    height: 50px;
    background-color: #222222;
    ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-block-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-left: 8px;
}

.product-item {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 96px;
    color: #222222;
    ;
}

.product-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin: 6px 0 48px 0;
}

.product-block-cards-img {
    position: relative;
}

.product-block-cards-bgc {
    width: 100%;
    height: 100;
}

.overlay {
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cards-button {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(58, 56, 56, 0.86);
}

.cards-button,
.overlay {
    display: none;
}

.product-block-cards-img:hover .cards-button,
.product-block-cards-img:hover .overlay {
    display: block;
}

.product-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-block-cards {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 30px;
}

.product-block-text {
    margin-top: 26px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.product__block-descr {
    margin-top: 13px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--prod-text-color);
}

.product__block-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 18px;
    color: #F16D7F;
}

.product-block-btn {
    width: 211px;
    height: 47px;
}

.section-registration {
    padding: 59px 0 60px 230px;
    background-color: #F16D7F;
}

.section-registration-item {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.additional-info-text {
    width: 360px;
    height: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222222;
    ;
    margin: 0 0 126px 230px;
}

.subscription-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222222;
    ;
}

.subscription-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222222;
    ;
}

.subscription-button {
    left: 57.31%;
    right: 22.53%;
    top: 54.24%;
    bottom: 34.82%;
    background: #E1E1E1;
    background-color: #F16D7F;
}

.data-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.data-input-list {
    width: 360px;
    height: 32px;
}

.data-input-registration {
    padding-left: 230px;
    padding-top: 64px;
}

.data-input-info {
    padding-top: 64px;
    padding-left: 129px;
}

.data-input-lable {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.data-input-info-item {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.data-input-info-list {
    margin-top: 21px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.data-input-list {
    margin-top: 16px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.data-input-registration-btn {
    margin-top: 55px;
    margin-bottom: 96px;
    width: 157px;
    height: 50px;
    color: #B1B1B1;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    background-color: #F16D7F
}

.data-input-registration-arrow {
    padding-left: 20px;
}

.registration-list {
    padding-left: 20px;
}

.data-input-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.data-input-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
    height: 45px;
}

.data-input-marg {
    margin-top: 21px;
}

.data-input-radio {
    margin-top: 31px;
    margin-bottom: 34px;
}

.registration-item {
    position: relative;
    margin-top: 16px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.registration-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 15px;
    left: -25px;
    background-image: url(./img/vector.png);
}

.sales__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.sale-cards {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 360px;
    min-height: 260px;
    background: #000;
    text-align: center;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sales__text {
    text-transform: uppercase;
    left: 50%;
}

.sales__text-color {
    display: block;
    color: #F16D7F;
}

.sale--woman {
    background-image: url(./img/woman-grey.jpg);
}

.sale--man {
    background-image: url(./img/man-grey.jpg);
}

.sale--child {
    background-image: url(./img/child-grey.jpg);
}

.sale--gb {
    margin-top: 40px;
    width: 100%;
    background-image: url(./img/fon-grey.jpg);
    background-size: cover;
}

.section-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.section-finish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FBFBFB;
    text-align: center;
    margin: 104px 30px 104px 30px;
    background-color: #222222;
}

.section-finish-text {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: var(--text-color);
    margin-top: 28px;
}

.section-finish-item {
    color: var(--text-color);
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    margin: 16px;
}

.section-group-one {
    background-color: #222222;
}

@media(max-width:767px) {
    .header-wrp {
        padding-left: 32px;
        padding-right: 32px;
    }

    .brand {
        height: 368px;
        margin: 0 0 20px 0;
    }

    .brand__title {
        width: 283px;
        height: 78px;
        font-size: 24;
    }

    .sale--woman,
    .sale--child,
    .sale--man {
        margin: 19PX;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }

    .sale--gb {
        margin-top: 10PX;
        margin-left: 19px;
        margin-right: 19PXs;
    }

    .product-block-cards {
        margin-right: 5px;
        margin-left: 5px;
    }

    .section-group {
        display: inline;
    }


    .section-finish {
        margin: 48px 0 0 0;
    }

    .section-finish-item {
        width: 360px;
        height: 34px;
    }

    .information-block {
        display: inline;
        margin: 53px 0 0 327px;
    }

    .additional-info-text {
        margin: 48px 0 0 220px;
    }

    .subscription-text {
        margin-top: 48px;
    }

    .subscription-block-button {
        padding-left: 240px;
        margin-top: 28px;
        margin-bottom: 140px;
    }

    .footer-block {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media(max-width:375px) {
    .header__link {

        display: none;
    }

    .brand {

        margin: 0 0 64px 0;
    }

    .brand__img {

        display: none;
    }

    .brand__title {

        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
    }

    .brand__subtitle {

        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .sale {

        display: inline;
    }

    .sale-cards {

        margin: 0 auto;
        margin-bottom: 32px;
    }

    .sales__list {

        display: inline;
    }

    .sale--gb {

        margin-bottom: 64px;
    }

    .product-block-cards {

        margin-bottom: 55px;
    }

    .section-group-one {

        margin-top: 110px;
    }

    .information-block-img {

        margin-left: 115px;
    }

    .additional-info-text {

        width: 343px;
        height: 73px;
        margin: 0 0 0 0;
    }

    .subscription-text {

        font-weight: 700;
        font-size: 24px;
        line-height: 153%;
        margin-top: 59px;
    }

    .subscription-item {

        font-weight: 400;
        font-size: 14px;

    }

    .subscription-block-button {
        margin: 22px;
        padding-left: 45px;
    }

    .footer-block {

        display: inline-block;
        margin-top: 115px;
        height: 100px;
        width: 100%;
        align-items: center;
    }

    .footer-block-text {

        margin-bottom: 40px;
    }

    .footer-link {

        margin-left: 44px;
    }
}

/*# sourceMappingURL=style.css.map */